<div>
    <.form id="new-movie" :let={f} for={@changeset} phx-target={@myself} phx-change="validate" phx-submit="save">
        <%= label f, :name %>
        <%= text_input f, :name %>
        <%= error_tag f, :name %>  

        <%= label f, :priority %>
        <%= number_input f, :priority %>
        <%= error_tag f, :priority %>

        <%= submit "Save" %>
    </.form>
</div>