<h1 id="hi">Your top 100 movies</h1>

<table id="movies">
    <thead>
        <th>Name</th>
        <th>Position</th>

        <th></th>
    </thead>
    <%= for movie <- @movies do %>
        <tr>
            <td><%= movie.name %></td>
            <td><%= movie.priority %></td>
        </tr>
    <% end %>
</table>

<button id="add" phx-click="add-movie">Add</button>